
p{
    font-family: 'Itim', cursive;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 30vh;
    background:#2c3e50;
	color:#fff;
    }

.section_div{
    padding: 10%;
    border: 10px solid black;
    margin: 0%;
    height: 400px;
    
}
.section1{
    box-sizing: border-box;
    width: 30%;
    height: 150px;
    background: #34495e;
    color:#fff;
    float: left;
    border: 4px solid black ;
    padding: 10px;
    margin: 10px;
}
.section2{
    box-sizing: border-box;
    width: 30%;
    height: 150px;
    background: #34495e;
    color:#fff;
    float: left;
    border: 4px solid black ;
    padding: 10px;
    margin: 10px;
}
.section3{
    box-sizing: border-box;
    width: 30%;
    height: 150px;
    background: #34495e;
    color:#fff;
    float: left;
    border: 4px solid black ;
    padding: 10px;
    margin: 10px;
}


.subtitle{
    font-family: 'Dancing Script', cursive;
    float: right;
    font-size: 20px;
    font-weight: 300;
    color: #fdfdfd;
    margin: 0%;
    background:#16a085;

}

footer{
	background:#c0392b;
	color:#fff;
}



@media screen and (max-width: 991px){

    
    .section1{
        box-sizing: border-box;
        width: 45%;
        height: 40%;
        background: #34495e;
        color:#fff;
        float: left;
        border: 5px solid black ;
        padding: 10px;
        margin: 2%;
    }  
    .section2{
        box-sizing: border-box;
        width: 45%;
        height: 40%;
        background: #34495e;
        color:#fff;
        float: left;
        border: 5px solid black ;
        padding: 10px;
        margin:2%;
    }  
    .section3{
        box-sizing: border-box;
        width: 100%;
        height: 40%;
        background: #34495e;
        color:#fff;
        float: left;
        border: 5px solid black ;
        margin: auto;
        padding: 10px;
    }  
    
}
@media screen and (max-width: 767px){

    .section_div{
        font-size: 12px;
        
    }
    .section1{
        box-sizing: border-box;
        width: 80%;
        height: 30%;
        background: #34495e;
        color:#fff;
        float: left;
        border: 5px solid black ;
        padding: 10px;
        margin: 10px;
    }  
    .section2{
        box-sizing: border-box;
        width: 80%;
        height: 30%;
        background: #34495e;
        color:#fff;
        float: left;
        border: 5px solid black ;
        padding: 10px;
        margin: 10px;
    }  
    .section3{
        box-sizing: border-box;
        width: 80%;
        height: 30%;
        background: #34495e;
        color:#fff;
        float: left;
        border: 5px solid black ;
        padding: 10px;
        margin: 10px;
    }   
    
    
}